body {
	background-color: #00000;
	padding: 0;
	margin: 0;
	font-family: Verdana, Helvetica, Arial, sans-serif;
}

div.header {
	background-color: #ffbe0d;
	border-bottom: 2px solid black;
	margin: 0px;
	height: 90px;
}

img.topimage {
	float: left;
}

div.footer {
	background-color: #ffbe0d;
	margin: 0px;
	position: absolute;
	bottom: 0px;
	margin-bottom: 0;
	padding: 4;
	left: 0;
	right: 0;
	font-size: x-small;
	text-align: center;
	border-top: 2px solid black;
}

a.topmenu {
	font-family: Georgia, Tahoma, sans-serif;
	font-weight: bold;
	text-decoration: none;
	background-color: #000000;
	border: 1px solid black;
	color: #ffffff;
	padding: 4px 8px;
	float: left;
	margin-top: 32px;
	margin-right: 8px;
	box-shadow: 4px 4px 5px #8c6702;
}

a.topmenu:hover {
	background-color: #3280c2;
}

img.topuser {
	height: 10pt;
	width: 10pt;
}

div.body {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
}

div.userinfo {
	align: center;
	border: 1px solid black;
}

h2 {
	text-align: center;
	background-color: #efefef;
	padding: 2px;
	margin: 20px 10%;
}
h3 {
	margin: 20px 10%;
}

p {
	text-size: normal;
	margin: 20px 11%;
}

ol {
	text-size: normal;
	margin: 20px 10%;
}

table {
	border: 3px solid black;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}
tr {
	font-size: small;
}
tr.row1 {
	background-color: #ffffff;
}
tr.row2 {
	background-color: #dfdfdf;
}
td {
	padding: 2px 8px;
	border-left: 1px solid #afafaf;
	border-bottom: 1px solid #afafaf;
}
th {
	background-color: #7f7f7f;
	margin: 0px;
	border-left: 1px solid black;
	border-bottom: 2px solid black;
}
